/* Common */
* {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

:root {
  --black: #333;
  --green: #0cceb0;
  --blue: #0175f0;
  --white: #fff;
  --roboto: "Roboto", serif;
  --poppins: "Poppins", serif;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: var(--black);
}

img {
  max-width: 100%;
}
.wrapper {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: var(--white);
}

p {
  margin: 0;
  padding: 0;
  /* margin-top: 0;
  margin-bottom: 1rem; */
}

.btn {
  color: var(--white);
  outline: none;
  border-radius: 50px;
  padding: 0;
  background-color: #04be2c;
}

.line {
  width: 60px;
  height: 2px;
  background: var(--green);
  margin: 20px auto;
}

.desc {
  /* text-align: center; */
}

.title {
  /* text-align: center;  */
}

/* Header */
header {
  padding: 5px 0;
  top: 0px;
  position: sticky;
}

#logo-menu-search {
  display: flex;
  align-items: center;
}
#menu-header {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.menu-nav .menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-nav .menu li {
  position: relative;
  display: inline-block;
}

.menu-nav .menu li a {
  line-height: 60px;
  display: block;
  font-size: 16px;
  text-decoration: none;
  margin-left: 20px;
  color: var(--black);
}

.menu-nav .menu ul li a:hover {
  color: #333;
}

.menu-nav .menu li .sub-menu {
  display: none;
  position: absolute;
  background-color: var(--white);
  left: 0;
  bottom: -195px;
  padding: 12px;
  display: none;
}

.menu-nav .menu li:hover .sub-menu {
  display: block;
}

.menu-nav .menu li:hover .sub-menu a {
  color: #04be2c;
  white-space: nowrap;
}

.search {
  display: flex;
  align-items: center;
}

#search-login .fa-search {
  font-size: 16px;
  margin-right: 15px;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  border: 1px solid var(--green);
  color: var(--green);
  cursor: pointer;
}

#search-login .btn-login {
  background-color: var(--green);
  border-radius: 20px;
}

/* Slide */
#section-slide {
  background-color: rgb(0 123 255);
}

#section-slide .wrapper-slide {
  display: flex;
}

.wrapper-slide .body-slide {
  padding: 100px;
}

.body-slide .slide-left .content {
  color: #f2f2f2;
}

/* Services */

#section-services {
  padding: 50px 0 30px;
  background-color: #f8f9fb;
}

#section-services .list-item {
}

#section-services .title {
  color: #42464e;
}

#section-services .title h2,
#section-services .title .desc {
  text-align: center;
}

#section-services .item {
  background-color: var(--white);
  border-left: 15px solid #f8f9fb;
  padding: 15px;
}

#section-services .item {
  margin-bottom: 15px;
}

#section-services .wrapper {
  display: flex;
  justify-content: center;
  gap: 15px;
}

#section-services .list-item .title a {
  color: black;
}

#section-services .list-item .title a:hover {
  color: #0175f0;
}

.list-item .item .wrapper .title h2 {
  font-size: 23px;
  line-height: 26px;
  margin-bottom: 15px;
}

.list-item .item .wrapper .title p {
  font-size: 18px;
  font-weight: 300;
}

.list-item .desc {
  font-size: 16px;
  line-height: 24px;
  color: #8f8f8f;
  font-weight: 400;
  margin: 0 0 35px;
}

.list-item .item .btn-detail,
.list-item .item .btn-order {
  padding: 6px 23px;
  border: none;
}

.list-item .item .btn-detail {
  background-color: var(--white);
  color: #333;
  box-shadow: inset 0 0 0 1px #ddd;
}

.list-item .item .btn-order:hover {
  background-color: #166b29;
}

.list-item .item .btn-detail:hover {
  background-color: #d89f9f;
}

.list-item .item {
  font-size: 19px;
  line-height: 26px;
}

.list-item .title .item a {
  text-transform: uppercase;
  font-size: 19px;
  color: #606672;
  line-height: 26px;
}

/* How to work */
#how-it-work {
  background-image: linear-gradient(to right, #0c2846, var(--blue));
  padding: 50px 0 30px;
}

#how-it-work .title {
  text-align: center;
  color: #f2f2f2;
  margin-bottom: 50px;
}

#how-it-work .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#how-it-work .content .item {
  display: flex;
  gap: 12px;
}

#how-it-work .content .number {
  background-color: rgb(242 242 242);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  line-height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#how-it-work .content .number.number-one {
  background-color: #2ad38b;
}

#how-it-work .content .desc h5 {
  color: #2ad38b;
}

#how-it-work .content .desc p {
  display: inline;
  color: var(--white);
  font-size: 16px;
  font-weight: 300;
}

#how-it-work .content .desc a {
  color: var(--green);
  font-size: 12px;
}

.test {
  width: 32px;
  height: 32px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Section 4 featured */
.featured {
  padding: 36px;
}

.featured .section-heading .title {
}

.featured .section-heading p {
  font-size: 18px;
  line-height: 23px;
  font-weight: 300;
}

.featured .section-heading {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.featured-box .fearure-card {
  position: relative;
}

.featured-box .fearured-card .featured-card-bg {
  position: absolute;
  height: 60%;
  object-fit: cover;
}

.featured-box .fearured-card .featured-card-body {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  border: 1px solid red;
}

.featured-box .fearured-card .card-body-img {
  width: 400px;
  height: 400px;
}

.featured-card-body .text .btn-more {
  background-color: red;
  padding: 6px 12px;
}
.featured-card-body .text .btn-more:hover {
  color: var(--blue);
}

.row-featured-box {
}

/* Section 5 Slider */
.slider {
  background-color: #0c2846;
  padding-bottom: 30px;
}

.slider .slider-heading .desc,
.slider .slider-heading .title {
  color: var(--white);
  text-align: center;
}

.slider .slider-heading .title {
  padding: 50px 0 0;
}

.slider .slider-heading .desc {
  font-size: 18px;
  line-height: 23px;
  font-weight: 200;
}

.slider .slider-body {
  padding: 50px 0 10px;
}

.slider-body .check-infor {
  text-align: center;
}

.slider .slider-body .infor {
  padding-left: 80px;
}

.slider .slider-body .img-infor {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.slider .slider-body .name {
  color: orange;
}

.slider .slider-body .city {
  color: var(--white);
}

.slider-body .reviews {
  width: 80%;
}

.slider .review .title {
  color: var(--green);
}

.slider .review .desc {
  color: var(--white);
  font-size: 18px;
  line-height: 33px;
  font-weight: 300;
  width: 80%;
}

.slider-body .review .list-square {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.slider-body .review .square-item {
  width: 10px;
  height: 10px;
  border: 1px solid orange;
  margin-left: 10px;
}

/* Section why-choose-us */
.why-choose-us .section-heading {
  padding-top: 20px;
}

.why-choose-us .section-body {
}

.why-choose-us .choose-list .choose-item .item-none {
  display: none;
}

.why-choose-us .choose-list .choose-item {
  padding-bottom: 15px;
}

.why-choose-us .choose-list .choose-item .btn {
  width: 100%;
}

.why-choose-us .section-heading h2 {
  text-align: center;
}

.why-choose-us .section-heading p {
  text-align: center;
}

.why-choose-us .section-body {
  padding: 10px 5px;
}

.why-choose-us .section-body .section-body-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.why-choose-us .section-body .btn-choose-list {
  padding: 10px;
}

/* archiverments */

#archiverments {
  background-image: url("../img/startor_breadcrumb.png");
  padding: 25px 0;
}

.archiverments-heading .title,
.archiverments-heading .desc {
  color: var(--white);
}

.archiverments-body .archiverments-body__detail-list .detail-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--white);
  gap: 12px;
  padding: 0 12px;
}

.archiverments-body .archiverments-body__partner-list {
  row-gap: 12px;
  margin-top: 12px;
}

.archiverments-body__partner-list .partner-list_item {
  border: 1px solid red;
  background-color: yellow;
  display: flex;
  align-items: center;
  text-align: center;
}

.archiverments-body__partner-list .partner-list_item img {
  height: auto;
}

#archiverments .archiverments-foot {
  margin-top: 15px;
}

.archiverments-foot {
  text-align: center;
}

/* Package */
#packages .package-heading {
  padding: 15px 0;
}

.package-heading h2,
.package-heading p {
  text-align: center;
}
/* 
.package-card-header {
  position: relative;
}

.package-card-header .card-img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  z-index: 1;
}

.detail-card-header {
  position: relative;
} */

/* Contact */
#contact {
  position: relative;
  padding: 70px;
  background-color: #f6fafe;
}

.contact-heading .title-desc-contact {
  text-align: center;
}

.form-contact {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-contact .block-contact .input-contact,
.form-contact .block-contact .select-contact {
  border: 1px solid gray;
  border-radius: 8px;
  padding: 8px 12px;
  width: 100%;
}

.form-contact .btn-contact {
  width: fit-content;
  padding: 8px 24px;
}

.contact-body .contact-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.contact-body .contact-info .contact-info__phone {
  display: flex;
  align-items: center;
  column-gap: 14px;
  color: var(--blue);
}

.contact-body .contact-info .contact-info__hotline {
  color: #ff0000;
  font-size: 27px;
  font-weight: 600;
}

.contact-body .contact-info .info-flex {
  display: flex;
  align-items: center;
  column-gap: 28px;
  color: var(--blue);
}

.contact-body .contact-info .icon-border {
  background-color: rgba(246, 242, 237, 1);
  border-radius: 100%;
  padding: 12px;
}

/* Blog */

#blogs {
  padding: 70px;
}

#blogs .blog-heading {
  text-align: center;
}

.blog-heading h3 {
  font-size: 23px;
  font-weight: 600;
  color: #42464e;
  line-height: 26px;
  margin: 0 0 15px;
  text-transform: uppercase;
}

.blog-heading p {
  font-size: 18px;
  line-height: 23px;
  font-weight: 300;
  font-family: var(--roboto);
}

.blog-body {
  padding: 30px 0;
}

.blog-body .blog-list {
  row-gap: 24px;
}

.blog-list .wrap-card {
  background-color: #eaeaea;
  overflow: hidden;
}

.wrap-card .blog-card-figure {
  display: block;
}

.wrap-card .post-card-body {
  position: relative;
  padding: 46px 24px;
  /* margin-top: 50px; */
}

.wrap-card .post-card-body .plus-absolute {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.wrap-card .post-card-body .plus-absolute i {
  background-color: var(--blue);
  padding: 16px;
  border-radius: 50%;
  color: var(--white);
  border: 5px solid var(--white);
}

.blog-card-figure .post-card-body {
  padding-top: 46px;
  padding-inline: 24px;
  padding-bottom: 24px;
}

.blog-card-figure .post-card-body h3 {
  font-size: 16px;
  font-family: var(--blod);
  text-align: center;
  line-height: 23px;
  max-height: 55px;
  overflow: hidden;
  color: #000;
}

/* footer */

footer {
  background-color: #181818;
  color: #7d8492;
}

footer .row {
  padding-top: 40px;
}

.row .foot-title {
  color: var(--white);
  font-size: 18px;
}

.row .line-footer {
  width: 30px;
  height: 2px;
  background-color: gray;
  margin: 10px 0;
}

.row .foot-contact__wrap-contact .foot-detail li {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.row .foot-text {
  color: #7d8492;
  line-height: 30px;
}

.foot-detail li p {
}
